.inputTodoDesc {
  width: 350px;
  height: 25px;
  background-color: white;
}

.addItemBtn {
  height: 30px;
  border-radius: 6px;
  margin-left: 20px;
  background-color: brown;
  color: white;
  box-shadow: 0px 2px 0px lightgray;
}

input[type="checkbox"] {
  margin-right: 10px;
  font-size: 30px;
}

input[type="checkbox"]:focus {
  outline: 0;
  background-color: brown;
}

input[type="text"]:focus {
  outline: 0;
}

.todo {
  display: flex;
  justify-content: left;
  align-items: center;
}

.todoForm {
  margin-top: 40px;
  text-align: center;
}
