.inputTodoDesc {
  width: 350px;
  height: 25px;
}

.addItemBtn {
  height: 28px;
  border-radius: 3px;
  margin-left: 20px;
}

input[type="checkbox"] {
  margin-right: 10px;
  font-size: 30px;
}

input[type="checkbox"]:focus {
  outline: 0;
}

input[type="text"]:focus {
  outline: 0;
}

.todo {
  display: flex;
  justify-content: left;
  align-items: center;
}

.todoForm {
  margin-top: 40px;
  text-align: center;
}
